body{background-image: url('background\ \(2\).png');
background-repeat: no-repeat;
text-align: center;}
ul{color: aquamarine;
    list-style-type:none;
    text-align: left;
    position: relative;
    left:550px;
    font-size: larger;
}
ol{color: aquamarine;
    list-style-type:none;
    text-align: left;
    position: relative;
    left:550px;
    font-size: larger;
}
table{position:relative;left:100px;}
pre{font-size: 30px;
text-align: left;
position: relative;
left:550px;}
form{
background-color: transparent;}
input{background-color: transparent;
    }
textarea{background-color: transparent;}
option{background-color: transparent;}
select{background-color: transparent;}
button{background-color:transparent;}